# This is the config file read by macps.
# SCCSid = "@(#)macps.config	2.2 10/24/89"
#
# Each line is composed of the %%IncludeProcSet id, a tab and the file
# containing the ProcSet.  If the file doesn't begin with a slash, the
# the name is taken to be relative to the directory in which this config file
# resides.

"(AppleDict md)" 65 0	ProcSets/LaserPrep4.0
"(AppleDict md)" 66	ProcSets/LaserPrep5.0
"(AppleDict md)" 67 0	ProcSets/LaserPrep5.1
"(AppleDict md)" 68 0	ProcSets/LaserPrep5.2
"(AppleDict md)" 70 0	ProcSets/LaserPrep6.0
